.header-title {
    width: 100%;
    background: #242424;
    text-align: center;
    
    h1 {
        color: #fff;
        font-size: 40px;
        line-height: 150%;
        font-weight: 900;
        padding: 30px;
    }
}