.announcement {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
    background: #faf3f3;
    border-radius: 20px;
    padding: 5px 50px;
    cursor: pointer;
    

    .vr {
        height: 20px;
        width: 2px;
        background: #000;
        margin: 0 10px;
    }

    .title, .date {
        font-size: 18px;
        font-weight: 500;
        line-height: 150%;
    }
}


@media screen and (max-width: 1000px) {
    .announcement {
        padding: 5px 25px;
        .title, .date {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 400px) {
    .announcement {
        padding: 5px 25px;
        .title, .date {
            font-size: 14px;
        }
    }
}