.announcement {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px 50px;
    cursor: pointer;
    

    .vr {
        height: 20px;
        width: 2px;
        background: #000;
        margin: 0 20px 0 10px;
    }

    .title, .date {
        font-size: 18px;
        font-weight: 500;
        line-height: 150%;
    }

    .date {
        width: 150px;

    }
}

.announce-img {
    margin-bottom: 20px;
}


@media screen and (max-width: 1000px) {
    .announcement {
        padding: 5px 25px;
        .title, .date {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 600px) {
    .announcement {
        .date {
            width: 120px;
        }
    }
}

@media screen and (max-width: 400px) {
    .announcement {
        padding: 5px 25px;
        .title, .date {
            font-size: 14px;
        }
        .date {
            width: 100px;
    
        }
    }
}