.contact {
    padding: 2% 11.5%;
    background: #303030;
    display: flex;
    justify-content: center;
    gap: 50px;
}

@media screen and (max-width: 1000px) {
    .contact {
        flex-direction: column;
    }
}