.program-cont {
    display: flex;
    .new-program-form {
        width: 100%;
        .days {
            display: flex;
            flex-direction: row;
            .program-day {
                display: flex;
                flex-direction: column;
            }
        }
        input {
            font-size: 12px;
            font-weight: 400;
        }
    }
}


.appo-req {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}
.req-reset-btn {
    padding: 5px;
    width: 100px;
    font-size: 16px;
}